<%= form_with class: 'post_form', model: post, url: user_posts_path(user_id: current_user.id) do |form| %>
  <ul>
    <li>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </li>
    <li>
      <%= form.label :text %>
      <%= form.text_area :text, size: "60x30" %>
    </li>
    <li>
      <%= form.submit %>
    </li>
  </ul>
<% end %>