<%= link_to(user_post_path(post.author, post)) do %>
  <div id="<%= post.id %>" class="my-5">
    <div class="border rounded border-indigo-600 p-2 relative">
      <h4 class="text-lg font-bold my-1"><%= post.title %></h4>
      <p class="text-sm mb-4 p-1">
        <% if text_long?(post.text) %>
          <%= trimm_text(post.text) %>
        <% else %>
          <%= post.text %>
        <% end %>
      </p>
      <span class="absolute bottom-1 right-1 text-xs">
        <%= "Comments: #{post.commentscounter}, Likes: #{post.likescounter}" %>
      </span>
    </div>

    <% if show_comments && post.commentscounter.positive? %>
      <ul class="border rounded border-indigo-400 mt-1 p-2">
        <li class="font-bold text-sm"> Comments: </li>  
        <%= render post.most_recent_comments.includes(:author) %>
      </ul>
    <% end %>
    
  </div>
<% end %>
