<section>
  <div class="border rounded border-indigo-600 p-2 relative mb-4">
  <div>
    <h3 class="text-lg font-bold my-1"><%= @post.title %></h3>
    <span class="block text-right text-xs px-4 italic mb-4"><%= "#{@post.author.name}, #{time_ago_in_words(@post.created_at)} ago" %></span>
  </div>
    <p class="text-sm px-1 mb-6">
      <%= @post.text %>
    </p>
    <div class="flex justify-between items-center">
      <span class="text-xs"><%= "Comments: #{@post.commentscounter}" %></span>
      <div id="like-btn" class="flex items-center justify-center gap-1">
        <% like = current_user.likes.find_by(post: @post) %>
        <% if like.nil? %>
          <%= button_to likes_path, params: { like: { post_id: @post.id } }, method: :post do %>
            <span class="mi">favorite_border</span>
          <% end %>
        <% else %>
          <%= button_to like_path(like), method: :delete do %>
            <span class="mi">favorite</span>
          <% end %>
        <% end %>
        <span class="text-sm text-center"><%= @post.likescounter %></span>
      </div>
    </div>
  </div>
  <ul class="border rounded border-indigo-400 mt-1 p-2">
      <li class="font-bold"> Comments: </li>  
    <% if @post.comments.size.zero? %>
      <li class="text-xs"> No comments yet. Be the first!</li>
    <% else %>
      <%= render @post.comments.order(id: :desc).includes(:author) %>
    <% end %>
  </ul>
    <%= render partial: 'comments/form', locals: { comment: @post.comments.build, post: @post }%>
</section>