<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div>
    <% if user_signed_in? %>
      <span>Welcome! <%= current_user.name %></span>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false } %>
    <% end %>
  </div>

  <main class="mx-4 my-8">
    <%= yield %>
  </main>
  </body>
</html>
